<!-- ###INIT_SCRIPT### begin -->
<link rel="stylesheet" type="text/css" href="###EXTPATH###res/multiselect/css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="###EXTPATH###res/multiselect/css/ui.multiselect.css" media="all">
<script src="###EXTPATH###res/multiselect/js/ui.multiselect.js" type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".multiselect").multiselect({sortable:false, searchable: true});
	});
</script>
<!-- ###INIT_SCRIPT### end -->
